@tailwind base;
@tailwind components;



:root{
  --background-secondary: theme("colors.blue.100");
  --background-light: white;
  --dominant: #002ae4;
  --text-thick:#151b3f;
  --text-normal:theme("colors.gray.900");
  --inpadding:white;
  --overlay:rgb(0 0 0 / 0.1);
  --inputvar:#eaeef5;
  --thickoverlay:rgb(0 0 0 / 0.5);

  font-size: 14px;
  font-family:"noto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

[data-theme = 'lightD']{
  --background-secondary: theme("colors.black");
  --background-light: black;
  --dominant: #002ae4;
  --text-thick:#b5bad1;
  --text-normal:theme("colors.gray.200");
  --inpadding:white;
  --overlay:rgb(255 255 255 / 0.1);
  --inputvar:#111118;
  --thickoverlay:rgb(255 255 255 / 0.6);
}



[data-theme = 'grayyellow']{
  --background-light:#5e5d5d;
  --background-secondary: #5e5d5d;
  --dominant: #BAFF39;
  --text-thick:#101820;
  --text-normal:theme("colors.gray.100"); 
  --inpadding:white;
  --overlay:rgb(255 255 255 / 0.1);
  --inputvar:#8f8e8e;
  --thickoverlay:rgb(255 255 255 / 0.6);

}



[data-theme = 'lime'] {
    --dominant:#00DE00;
    --text-thick:#001a00;
    --inpadding:white;
  
}

[data-theme = 'pink']{
  --background-light: #DDD0C8;
  --dominant:  #323232;
  --text-thick:#323232;
  --inpadding:white;
  --overlay:rgb(75 85 99 / 0.2);
  --inputvar:#aca39d;
  --thickoverlay:rgb(75 85 99 / 0.6);
}

[data-theme = 'darkneon']{
  --background-light:#010107;
  --background-secondary:#010107;
  --dominant:#144497;
  --text-thick:#5AA2FD;
  --text-normal:theme('colors.gray.200');
  --inpadding:white;
  --overlay:rgb(255 255 255 / 0.1);
  --inputvar:#111118;
  --thickoverlay:rgb(255 255 255 / 0.6);
} 

[data-theme = 'deeppink']{
  --background-light:#ebd4eb;
  --background-secondary:#c39cda;
  --dominant:#5a0b53;
  --text-thick:#180216;
  --text-normal:theme('colors.gray.200');
  --inpadding:white;
  --overlay:rgb(0 0 0 / 0.1);
  --inputvar:#e22dd3;
} 


[data-theme = 'pinkblue']{
  --background-light: #F2D4D6;
  --background-secondary:white;
  --dominant :#213F99;
  --text-thick:rgb(109, 11, 60);
  --inpadding:white;
  --overlay:rgb(75 85 99 / 0.2);
  --inputvar:#b39fa0;
  --thickoverlay:rgb(75 85 99 / 0.6);
}


[data-theme = 'deepblue']{
  --background-light:#010b20;
  --background-secondary:#06225f;
  --dominant:#03c4c4;
  --text-thick:theme("colors.gray.100");
  --text-normal:theme('colors.gray.200');
  --overlay:rgb(0 0 0 / 0.2);
  --inputvar:#2e5cc0;
}
[data-theme = 'yellowblue']{
  --background-light:#FFCE31;
  --background-secondary:#FFCE31;
  --dominant:#1C63FF;
  --text-thick:white;
  --text-normal:theme('colors.gray.700');
  --overlay:rgb(0 0 0 / 0.2);
  --inputvar:#c49e24;
}
[data-theme = 'liberty']{
  --background-light:#4E0340;
  --background-secondary:#632958;
  --dominant:rgba(0, 0, 0, 0.295);
  --text-thick:white;
  --text-normal:theme('colors.gray.200');
  --overlay:rgb(0 0 0 / 0.2);
  --inputvar:rgba(0, 0, 0, 0.295);
}

[data-theme = 'deepgreen']{
  --background-light:#0D1A1D;
  --background-secondary:#0D1A1D;
  --dominant:#328881;
  --text-thick:white;
  --text-normal:theme('colors.gray.200');
  --overlay:rgb(0 0 0 / 0.2);
  --inputvar:#213f46;
}
.blurer{
  --webkit-backdrop-filter:blur(2px);
  backdrop-filter: blur(2px);
}
.hero-gradient{
  background-image: repeating-linear-gradient(145deg,var(--overlay) 0px 200px,var(--background-secondary) 200px 400px);
  filter:blur(3px);
}
.dropdown{
  box-shadow:0px 0px 5px var(--text-thick)
}
.roundshadow{
  box-shadow:0px 0px 5px var(--text-normal);
}

.insetshadow{
  box-shadow: inset 0px 2px 2px var(--text-normal);
}

:root{
  @apply font-noto text-sm bg-bg-main p-0
}
.cont{
  @apply px-2 md:px-3 lg:px-4
}
.rcont{
  @apply -mx-2 md:-mx-3 lg:-mx-4
}
.topheader{
  @apply flex h-[45px] items-center
}
.right-gradient{
  @apply bg-gradient-to-t from-bg-main to-bg-sec
}
.toggler{
  @apply bg-thick-text h-[4px] w-full inline-block
}

.header-text{
  @apply  font-semibold text-lg 
}

.isactive {
  @apply hover:before:absolute hover:before:bg-dominant hover:before:h-[2px] hover:before:bottom-0 hover:before:w-[50%] hover:before:left-[25%] before:transition-all before:duration-1000
}

.onhover{
  @apply hover:before:inset-0 overflow-hidden hover:before:bg-overlay hover:before:absolute hover:text-[105%] hover:before:rounded-md
}

@tailwind utilities;