@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: theme('colors.white');
  --background-secondary: theme('colors.gray.50');

  --primary-dark: theme('colors.gray.900');
  --primary-medium: theme('colors.gray.700');
  --primary-light: theme('colors.gray.500');
} 

[data-theme='dark'] {
  --background: theme('colors.black');
  --background-secondary: theme('colors.gray.800');

  --accent-dark: theme('colors.fuchsia.900');
  --accent-medium: theme('colors.fuchsia.700');
  --accent-light: theme('colors.fuchsia.500');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
}

[data-theme='emerald'] {
  --background: theme('colors.white');

  --accent-dark: theme('colors.emerald.900');
  --accent-medium: theme('colors.emerald.700');
  --accent-light: theme('colors.emerald.500');
}

[data-theme='pink'] {
  --background: theme('colors.gray.900');
  --background-secondary: theme('colors.gray.800');

  --accent-dark: theme('colors.pink.900');
  --accent-medium: theme('colors.pink.700');
  --accent-light: theme('colors.pink.500');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
}  */



:root {
  --background: #ffffff;
  --background-secondary: rgb(249 250 251);

  --primary-dark:rgb(17 24 39);
  --primary-medium: rgb(55 65 81);;
  --primary-light:rgb(107 114 128);
}

[data-theme='dark'] {
  --background: rgb(0,0,0);
  --background-secondary: rgb(31 41 55);

  --accent-dark: rgb(112 26 117);
  --accent-medium: #a21caf;
  --accent-light:rgb(217 70 239);

  --primary-dark: rgb(209 213 219);
  --primary-medium: rgb(229 231 235);
  --primary-light: rgb(243 244 246);
}

[data-theme='emerald'] {
  --background: white;

  --accent-dark: rgb(6 78 59);
  --accent-medium: rgb(4 120 87);
  --accent-light: #10b981;
}

[data-theme='pink'] {
  --background: rgb(17 24 39);
  --background-secondary: rgb(31 41 55);

  --accent-dark: rgb(131 24 67);
  --accent-medium: rgb(190 24 93);
  --accent-light: rgb(236 72 153);

  --primary-dark: rgb(209 213 219);
  --primary-medium: rgb(229 231 235);
  --primary-light: rgb(243 244 246);
}